body {
    padding: 3%;
}
.row {
    height: 420px;
}

.col-4 {
    width: 24%;
    float: left;
    margin-right: 1%;
}
.panel-body {
    height: 260px;
    overflow-y: auto;
}
.alert {
    display: none;
}
.result{
    padding-top: 30px;
}
td, th {
    white-space: nowrap;
}

select {
    min-width: 100px;
}
